//- link(rel="apple-touch-icon", sizes="57x57", href="https://assets.aftership.com/favicons/apple-touch-icon-57x57.png")
//- link(rel="apple-touch-icon", sizes="60x60", href="https://assets.aftership.com/favicons/apple-touch-icon-60x60.png")
//- link(rel="apple-touch-icon", sizes="72x72", href="https://assets.aftership.com/favicons/apple-touch-icon-72x72.png")
//- link(rel="apple-touch-icon", sizes="76x76", href="https://assets.aftership.com/favicons/apple-touch-icon-76x76.png")
//- link(rel="apple-touch-icon", sizes="114x114", href="https://assets.aftership.com/favicons/apple-touch-icon-114x114.png")
//- link(rel="apple-touch-icon", sizes="120x120", href="https://assets.aftership.com/favicons/apple-touch-icon-120x120.png")
//- link(rel="apple-touch-icon", sizes="144x144", href="https://assets.aftership.com/favicons/apple-touch-icon-144x144.png")
//- link(rel="apple-touch-icon", sizes="152x152", href="https://assets.aftership.com/favicons/apple-touch-icon-152x152.png")
//- link(rel="apple-touch-icon", sizes="180x180", href="https://assets.aftership.com/favicons/apple-touch-icon-180x180.png")
//- link(rel="icon", type="image/png", href="https://assets.aftership.com/favicons/favicon-32x32.png" sizes="32x32")
//- link(rel="icon", type="image/png", href="https://assets.aftership.com/favicons/favicon-194x194.png" sizes="194x194")
//- link(rel="icon", type="image/png", href="https://assets.aftership.com/favicons/favicon-96x96.png" sizes="96x96")
//- link(rel="icon", type="image/png", href="https://assets.aftership.com/favicons/android-chrome-192x192.png" sizes="192x192")
//- link(rel="icon", type="image/png", href="https://assets.aftership.com/favicons/favicon-16x16.png" sizes="16x16")
//- link(rel="manifest", href="https://assets.aftership.com/favicons/manifest.json")
//- link(rel="shortcut icon", href="https://assets.aftership.com/favicons/favicon.ico")
//- meta(name="msapplication-TileColor", content="#faa41a")
//- meta(name="msapplication-TileImage", content="https://assets.aftership.com/favicons/mstile-144x144.png")
//- meta(name="msapplication-config", content="https://assets.aftership.com/favicons/browserconfig.xml")
//- meta(name="theme-color", content="#ffffff")
//- meta(name='application-name', content='AfterShip')

link(rel="icon" href="http://mimilau.com/wp-content/uploads/2015/11/cropped-favicon-32x32.png" sizes="32x32")
link(rel="icon" href="http://mimilau.com/wp-content/uploads/2015/11/cropped-favicon-192x192.png" sizes="192x192")
link(rel="apple-touch-icon-precomposed" href="http://mimilau.com/wp-content/uploads/2015/11/cropped-favicon-180x180.png")
meta(name="msapplication-TileImage" content="http://mimilau.com/wp-content/uploads/2015/11/cropped-favicon-270x270.png")
