extends ../templates/layouts/layout2

block page
	- var menu = 'index'
block content
	- var articles = ['php', 'node', 'ruby']
	if (articles.length === 0)
		| There's no published content yet.
		a(href="/login") Log in
		| to post and publish.
	else
		each article, index in articles
			div
				h2
					a(href="/articles/#{article}")= article
	include:md README.md
