<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>
<body>
  <div class="container">
    <h1 class="page-header"></h1>
    <p class="lead">Welcome to example from Express.js Experience by&nbsp;<a href="http://twitter.com/azat_co">@azat_co</a>. Please enjoy.</p>
    <nav>
    </nav>
    <main class="content">
      <div>
        <h2><a href="/articles/undefined">php</a></h2>
        <p>hihahh diu haha ddd ai ng lung g </p>
      </div>
      <div>
        <h2><a href="/articles/undefined">node</a></h2>
        <p>hihahh diu haha ddd ai ng lung g </p>
      </div>
      <div>
        <h2><a href="/articles/undefined">ruby</a></h2>
        <p>hihahh diu haha ddd ai ng lung g </p>
      </div><h2 id="how-to-use-this-blog">How to use this blog</h2>
<p>Diu</p>

    </main>
  </div>
  <footer>
    <div class="container">
      <p>Copyright &copy; 2014 | Issues? Submit to <a href=" https://github.com/azat-co/blog-express/issues">GitHub</a>.</p>
    </div>
  </footer>
</body>