extends ../templates/layouts/layout

block content
	section.hero.text-xs-center
		h1.page-header Home
		p.s-16 Welcome to example of Basic HTML by Jade
	main
		.container
			section.p-y-3
				each post in posts
					div
						h2
							a(href= post)= post
