extends ../../templates/layouts/layout

block content
	section.hero.text-xs-center
		//- - var postTitlelor = S(pageTitle).humanize().s
		h1.page-header= pageTitle
		p.s-16 some description of the first post
	main
		.container
			section.p-y-3
				include:marked README.md
		.container
			.p-y-2
				a(href="/") Back to home
							
	//- h1 README
	
